<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <title>Document</title>
    <style>
       @font-face
    {
      src: url(Poppins-Regular.ttf);
      font-family: pop;
    }
    @font-face
    {
      src: url(Poppins-BlackItalic.ttf);
      font-family: popBold;
    }
    * {
      font-family: pop;
     max-width:100%;
    }

    h1{
        padding-top:20px;
        font-size:40px;
        text-align: center;
    }
    div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    table{
        display: block;
        width: 50%;
        border-right:2px solid rgb(47, 46, 46);
    }
    
    tr{
        height:60px;width: 100%;
        border-bottom:1px solid black;
    }
    table,td,th{
        vertical-align: middle;
    }
    td,th{
        padding:10px 15px; 
        text-align: center;
        vertical-align: middle;
        color: #333;
    }
    th{
        width:15%;
        font-size:18px;
    }
    .img{
        height:150px;
        float: left;
        margin-left:20px;
    }
     section{
        width: 50%;
     }
    form {
      display: flex;
      justify-content: center;
      position: relative;
    }

    #search {
      width: 600px;
      height: 30px;
      border-radius: 20px;
      margin: auto;
      margin-bottom: 20px;
      padding-left: 20px;
      font-size: 20px;
      color: black;
      border-color: black;
    }
    #big {
      font-size: 30px;
    }
    header{
        background-color:rgba(247, 173, 195, 0.1);
    }
    nav {
      display: grid;
      grid-template-columns: 9% 15% 18% 20% 18% 11% 9%;
      align-items: center;
    }
    img {
      height: 40px;
    }
    .flex1,
    ul {
      display: flex;
      justify-content: space-around;
    }
    #img1 {
      margin-top: 26px;
      height:65px;
    }

    #img2 {
      margin-bottom: 5px;
    }
    a:link {
      text-decoration: none;
      color: black;
    }

    a:active {
      color: black;
      text-decoration: solid 2px red underline;
    }

    a:hover {
      color: black;
      text-decoration: solid 2px red underline;
    }

    a:visited {
      color: black;
      text-decoration: solid 2px red underline;
    }

    .log{
      border-radius: 40px;
      padding: 5px 20px;
      border: 1px gray solid;
      color: rgb(63, 63, 63);
      width: 100px;
      height: 30px;
      margin-top: 5px;
      background-color: white;
    }

    li {
      list-style-type: none;
      font-size: 20px;
    }
    #minus{
        margin-right:10px;
        display: none;
    }
    #plus{
        margin-left:15px;
    }
    #detail{
        display: inline-block;
        width:200px;
        text-align: left;
        margin: 0px;
    }
    #detail p{
        margin: 10px;
    }
    h3{
        font-size:25px;
        text-align: center;
    }
    #table{
        width:800px;
        border-right: none;
    }
    #table td{
        width:400px;
        padding:10px 19px;
        text-align: center;
    }
    #order{
        margin-top:40px;
        display: flex;
        justify-content: center;
    }
    #add{
        background-color: #ff0051;
        color: white;
        font-size: 18px;
        padding:10px 20px;
        border:2px solid #ff0051;
        width:80%;
    }
   
    footer{
      background-color: #ff0051;
      color:white;
      position: relative;
      bottom:0px;
      height:300px;
      top:450px;
    }
    #grid2{
      display: grid;
      grid-template-columns: 15% 30% 10% 30% 15%;
      font-size:20px;
      color: white;
      padding-top:100px;
    }
    #grid2 div{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
    }
    #big {
      font-size: 30px;
    }
    .flex2 {
      display: flex;
      width: 15%;
      height:80px;
      position: absolute;
      top: 15px;
      left:50%;
      transform: translate(-50%,0);
      justify-content: center;
      align-items: center;
      background-color: white;
      color: black;
    }
    .a{
      display: block;
    }
    .a:link{
      color:white;
    }
    .a:hover{
      color:white;
      text-decoration: none;
    }
    .a:visited{
      color: white;
    }
    .foot{
        width: 10px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top:70px;
        right: 70px;
    }
     #pm{
        height:170px;
        display: flex;
        justify-content: center;
        align-items: center;
       padding:10px 0px;
     }
     #align{
      text-align: center;
    }
    #emp{
      position: absolute;
      left:50%;
      top:40%;
      transform: translate(-50%,-50%);
      font-size:50px;
    }
    #checkbox,.b,#cross{
      display: none;
    }
    #picture{
      width:200px;
    }
    header{
        background-color:rgba(247, 173, 195, 0.1);
    } 
    @media only screen and (max-width: 1580px) {
      *{
    max-width:100%;
    }
      .flex2{
      width:250px;
    }
    }
    @media only screen and (max-width: 1450px) {
      nav {
      grid-template-columns: 9% 15% 16% 24% 16% 11% 9%;
    }
     
    }
  @media only screen and (min-width: 1250px) {
    table{
        width:60%;
      }
      section{
        width:40%;
      }
  }
    @media only screen and (max-width: 1250px) {
    nav {
      grid-template-columns: 8% 17% 14% 26% 14% 13% 8%;
    }
      #pm{
      margin-top:74px;
     }
}
@media only screen and (max-width: 1150px) {
      nav {
      grid-template-columns: 6% 18% 14% 28% 14% 14% 6%;
    }
    }
@media only screen and (max-width: 1100px) {
      table{
      width:60%;
    }
    section{
      width:40%;
    }
    }
   
@media only screen and (max-width: 1030px) {
    nav {
      grid-template-columns: 4% 19% 12% 30% 12% 16% 4%;
    }
   
}
@media only screen and (max-width: 1000px) {
      #ts{
        flex-wrap: wrap;
      }
      table{
        width:90%;
        display: block;
        border: none;
        margin: 0px;
        padding: 0px;
      }
      section{
        width:100%;
        display: block;
      }
     
      td,th{
        padding: 15px;
        margin: 0px;
        width:300px;
      }
      #pm{
      margin-top:80px;
     }
    }
@media only screen and (max-width: 940px) {
      nav {
      grid-template-columns: 2% 20% 10% 36% 10% 16% 2%;
    }
   
    }
@media only screen and (max-width: 840px){
      nav {
      grid-template-columns: 2% 21% 6% 38% 6% 17% 2%;
    }
}
@media only screen and (max-width: 800px) {
     #butt1,#logout{
      width:75px;
      }
      
      #search{
        width:600px;
      }
      nav {
      grid-template-columns: 0% 21% 10% 38% 10% 20% 0%;
    }
    .flex2{
      width:220px;
    }
    #emp{
      font-size:40px;
    }
    #pm{
      margin-top:70px;
     }
    td,th{
        padding: 5px;
        margin: 0px;
        width:200px;
      }
    }
    @media only screen and (max-width: 750px) {
    nav {
      grid-template-columns: 0% 21% 6% 42% 6% 20% 0%;
    }
  }
    @media only screen and (max-width: 700px) {
      nav {
      grid-template-columns: 0% 21% 6% 42% 6% 18% 0%;
    }
      #search{
        width:550px;
        height:26px;
        font-size:16px;
      }
    
    #img2{
      width:100px;
    }
    #img1{
      width:50px;
      height:50px;
    }
    #big{
      font-size:30px;
    }
    li{
      font-size:18px;
    }
    #butt,#logout{
      width:80px;
    }
    .log{
      width:200px;
      font-size:12px;
    }
    }
    @media only screen and (max-width: 650px) {
      #search{
        width:510px;
      }
      nav {
      grid-template-columns: 0% 21% 7% 48% 5% 20% 0%;
    }
    td,th{
        padding: 5px;
        margin: 0px;
        width:100px;
      }
    }
@media (min-width: 600.5px) and (max-width: 611px)   
{
  #foot{
      height:12px;
      top: -20px;
      left: 5px;
    }
}
@media only screen and (max-width: 600px){
  body{
    max-width:100%;
  }
  nav {
      grid-template-columns: 5% 20% 21% 15% 14% 22% 5%;
      height:90px;
    }
      #search{
        width:500px;
      }
      
      #img1{
        margin-top:22px;
      }
    ul{
      width:80px;
      display: none;
      position: absolute;
      top:0px;
      left:0px;
      height:300px;
      background-color:white;
      color: #ff0051;
      z-index:1;
    }
    ul li{
      display:block;
      width:100%;
      padding:20px;
      padding-left:0px;
    }
    .flex{
      position: relative;
    }
    .b{
      display: block;
      font-size:25px;
    }
    #cross{
      display: block;
      font-size:25px;
      position: absolute;
      margin-bottom:20px;
      right:8px;
     
    }
    #checkbox:checked~.ul{
        display: block;
    }
   
    #checkbox:not(:checked)~.ul{
        display: none;
    }
    #grid2{
      font-size:16px;
    }
    #big{
      font-size:29px;
    }
    
    #emp{
      font-size:35px;
    }
   
   
}
@media only screen and (max-width: 590px){
  #search{
      width:410px;
    }
}
@media only screen and (max-width: 550px){
nav {
      grid-template-columns: 5% 20% 21% 15% 14% 24% 5%;
    }
  }
@media only screen and (max-width: 502px){
     #foot{
      height:12px;
      top: -5px;
      left: 5px;
    }
    table{
      width:500px;
      padding: 0px;
      margin: 0px;
    }
}
@media only screen and (max-width: 470px){
 table th,td{
  width:100%;
  padding: 0px;
 }
 .f{
  width:20px;
 }
 nav {
      grid-template-columns: 3% 20% 21% 15% 14% 28% 3%;
 }
 #pm{
  margin-top:65px;
 }
}
@media only screen and (max-width: 430px){
  #p,#sub{
      display: none;
     }
}
@media only screen and (max-width: 420px){
  #table th,td{
  font-size:12px;
 width:20px;
      padding: 0px;
      text-align: center;
    }
    #picture,.f{
      width:0px;
      padding:0px;
    }
    .img{
      width:80px;
      height:120px;
    }
}
@media only screen and (max-width: 420px){
  nav {
      grid-template-columns: 1% 10% 21% 10% 25% 32% 1%;
 }
 #pm{
      margin-top:30px;
     }
    
 
}
@media only screen and (min-width: 1654.5px){
 #table{
  width:1000px;
 }
#table td,th{
  padding-left:50px;
  padding-right: 50px;
}
  }
    </style>
</head>
<body>
    <header>
        <nav>
            <div></div>
            <input type="checkbox" id="checkbox" >
            <label for="checkbox" class="b"><i class="fa-solid fa-bars"></i></label>
            <div class="flex1">
              <img src="shopping-cart (1).png" alt="shopping" id="img1">
              <p id="big">FreshFits</p>
            </div>
            <div></div>
            <ul class="ul">
              <label for="checkbox" id="cross"><i class="fa-solid fa-xmark"></i></label>
              <li><a href="/">Shop</a></li>
              <li><a href="Men">Men</a></li>
              <li><a href="Women">Women</a></li>
              <li><a href="Kids">Kids</a></li>
            </ul>
            <div></div>
            <div class="flex1">
              <% if(!user){ %> 
                <button id="butt1" class="log">Login</button>
                <% } %>
                <% if(user){ %>
                  <% if(!user.id){ %>
                    <button id="butt1" class="log">Login</button>
                  <% } %>
                  <% if(user.id){ %>
                  <form action="/user/logout?redirectTo=cart" method="post" id="formm">
                      <button id="logout" class="log">Logout</button>
                  </form>
                  <% } %>
                <% } %>
              <a href="/cart"><img src="shopping-cart.png" id="img2" /></a>
            </div>
            <div></div>
          </nav>
        
          <form action="/Search" method="post">
              <input type="search" placeholder="Search..." id="search" name="search">
          </form>
        </header> 
        <div id="align"><%= message %></div>
    <br>
    <% if(!list[0]){ %>
      <div id="emp"> Your Cart is Empty!</div>
      <% } %>
    <% if(list[0]){ %>
    <div id="ts">
    <table>
        <tr>
            <th id="picture">Shopping Cart</th>
            <th class="pm">Quantity</th>
            <th id="sub">SubTotal</th>
            <th><button><i class="fa-solid fa-trash"></button></i></th>
        </tr>
        
       <% list.forEach(product=>{ %>
        <tr>
            <td class="f">
              <p style="display:none;"><%= product.id %></p></p>
                <img src="<%=product.image_url%>" class="img">
                <div id="detail">
                    <p class="name">
                    <%= product.product_name %></p>
                    <p>$<%= product.price %></p>
                    <p>delivered by 5-7 days</p>
                    <p>Size: <%= product.size %></p>
                </div>
            </td>

            <td class="pm" id="pm"><button id="minus" class="minus"><i class="fa-solid fa-minus"></i></button><span id="quantity"><%= product.Quantity %></span><button id="plus" class="plus"><i class="fa-solid fa-plus"></i></button></td>
            <td id="p">$<span id="price"><%= product.sub %></span><p style="display: none;"><%= product.price %></p></td>
            <td><button id="trash" class="trash"><i class="fa-solid fa-trash"></i></button></td>
        </tr>
       <% }) %>
    </table>
    <section>
        <h3>Total Amount</h3>
        <table id="table">
            <tr>
                <td>Total Item</td>
                <td id="titems"><%= list[0].items %></td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>$<span id="tamount"><%= list[0].Tamount %></span></td>
            </tr>
        </table>
        <div id="order">
            <button id="add">Order Now!</button>
        </div>
    </section>
</div>
<% } %>

<footer>
    <div class="flex2">
      <img src="shopping-cart (1).png" alt="shopping" id="img1" style="margin-top:2px;margin-right:10px;">
      <p id="big">FreshFits</p>
    </div>
    <div id="grid2">
      <div></div>
      <div>
        <p>Contact Us</p>
        <div class="foot">
        <a href="#" class="a"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="a"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="a"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="a"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div></div>
      <div>
        <p>Online Shopping</p>
        <div class="foot" id="foot">
          <a href="/" class="a">Shop</a>
          <a href="Men" class="a">Men</a>
          <a href="Women" class="a">Women</a>
          <a href="kids" class="a">Kids</a>
        </div>
      </div>
      <div></div>
    </div>
    </footer>
    <script>
      const items=document.getElementById("titems");
      const amount=document.getElementById("tamount");
      const trash=document.querySelectorAll(".trash");
        trash.forEach(trash=>{
          const id=trash.parentNode.parentNode.childNodes[1].childNodes[1].textContent;
          const quantity=trash.parentNode.parentNode.childNodes[3].childNodes[1];
          const price=trash.parentNode.previousSibling.previousSibling.childNodes[1];
           trash.addEventListener('click',()=>{
           const tr= trash.parentNode.parentNode;
           tr.style.display="none";
           items.innerHTML=Number(items.innerHTML)-Number(quantity.innerHTML);
           amount.innerHTML=(Number(amount.innerHTML)-Number(price.innerHTML)).toFixed(2);
          window.location.href=`/deletefromCart?id=${id}`;
        })
        });
        const minuses=document.querySelectorAll(".minus");
        const pluses=document.querySelectorAll(".plus");
        pluses.forEach(plus=>{
          const minus=plus.previousSibling.previousSibling;
          const p=plus.parentNode.nextSibling.nextSibling.childNodes[1];
            const price=plus.parentNode.nextSibling.nextSibling.childNodes[1].textContent;
            var pr=p.nextSibling.innerHTML;
            const id=plus.parentNode.previousSibling.previousSibling.childNodes[1].textContent;
            const quantity=plus.previousSibling;
          plus.addEventListener('click',()=>{
            items.innerHTML=1+Number(items.innerHTML);
            quantity.innerHTML=1+Number(quantity.innerHTML);
            minus.style.display='block';
            p.innerHTML=quantity.innerHTML*pr;
            amount.innerHTML=(Number(amount.innerHTML)+Number(pr)).toFixed(2);
            window.location.href=`/changequantity?id=${id}&quantity=${quantity.innerHTML}`;
        })
        if(quantity.innerHTML>1)
        {
          minus.style.display='block';
        }
        })
        
       minuses.forEach(minus=>{
        const id=minus.parentNode.previousSibling.previousSibling.childNodes[1].textContent;
          const quantity=minus.nextSibling;
          const p=minus.parentNode.nextSibling.nextSibling.childNodes[1];
          var pr=p.nextSibling.innerHTML;
        minus.addEventListener('click',()=>{
          items.innerHTML=Number(items.innerHTML)-1;
            quantity.innerHTML=Number(quantity.innerHTML)-1;
            if(quantity.innerHTML==1)
            minus.style.display='none';
            p.innerHTML=quantity.innerHTML*pr;
            amount.innerHTML=(Number(amount.innerHTML)-Number(pr)).toFixed(2);
            window.location.href=`/changequantity?id=${id}&quantity=${quantity.innerHTML}`;
        })
        if(quantity.innerHTML<=1)
        {
          minus.style.display='none';
        }
       })
        const order=document.getElementById("add");
        order.addEventListener("click",()=>{
          window.location.href='/user/address';
        })
        const sign=document.getElementById('butt1');
              sign.addEventListener('click',()=>{
                window.location.href='/user/signup?redirectTo=cart';
              })

              setTimeout(()=>{
              const message=document.getElementById('align');
              message.style.display="none";
              },6000);
            
    </script>
</body>
</html>